<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<connectionStrings>
		<clear/>
		<add name="MyConnectionString" providerName="Npgsql" connectionString="Host=localhost;Port=5432;Username=postgres;Password=123456789;Database=FruitsAndVegetables" />
		<add name="MyConnectionLocal" providerName="System.Data.SqlClient" connectionString="Data Source=(LocalDB)\MSSQLLocalDB;AttachDbFilename=C:\Users\User\source\repos\HW1801\HW1801\FruitsAndVegs.mdf;Integrated Security=True" />
	</connectionStrings>
</configuration>